@import '../abstract/variaveis';

.categoria {
    h1 {
        padding: 24px 40px;
        text-align: center;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;

    }
    .itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px 30px;
        .categoria__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                background-color: $cor-primaria-1;
                color: white;
                width: 100%;
                padding: 8px 32.5px;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .img__camiseta {
        content: url('../assets/Tablet/Categorias/categoria_camiseta.png');
    }
    .img__bolsas {
        content: url('../assets/Tablet/Categorias/categoria_bolsa.png');
    }
    .img__calçados {
        content: url('../assets/Tablet/Categorias/categoria_calçados.png');
    }
    .img__casacos {
        content: url('../assets/Tablet/Categorias/categoria_casacos.png');
    }
    .img__calças {
        content: url('../assets/Tablet/Categorias/categoria_calça.png');
    }
    .img__oculos {
        content: url('../assets/Tablet/Categorias/categoria_óculos.png');
    }

}

@media screen and (min-width: 1440px) {
    .img__camiseta {
        content: url('../assets/Desktop/Categorias/categoria_camiseta.png');
    }
    .img__bolsas {
        content: url('../assets/Desktop/Categorias/categoria_bolsa.png');
    }
    .img__calçados {
        content: url('../assets/Desktop/Categorias/categoria_calçados.png');
    }
    .img__casacos {
        content: url('../assets/Desktop/Categorias/categoria_casacos.png');
    }
    .img__calças {
        content: url('../assets/Desktop/Categorias/categoria_calça.png');
    }
    .img__oculos {
        content: url('../assets/Desktop/Categorias/categoria_óculos.png');
    }

}

