@import '../abstract/variaveis';


.menu {
    display: none;
}



.cabecalho {
    background-color: $cor-primaria-1;
    display: flex;
    flex-direction: column;

    .menu__hamburguer {
        display: none;
    }

    .menu__hamburguer__active {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        z-index: 2;
        width: 144px;
        height: 197px;
        background-color: #343A40;

        ul {
            li {
                display: flex;
                flex-direction: column;
                padding: 8px 24px;

                &:first-child {
                    left: 0;
                }

                a {
                    text-decoration: none;
                    color: white;
                    line-height: 23px;
                    border-bottom: 1px solid $cor-primaria-2;
                }
            }
        }
    }

    .cabecalho__top {
        padding: 1.3rem 1.4rem;
        height: 58px;
        display: flex;
        justify-content: space-between;

        .menu__btn {
            cursor: pointer;
        }
    }
}

.cabecalho__busca {
    display: flex;
    background-color: $cor-primaria-2;
    padding: 1.5rem 1.7rem;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .barra__pesquisa {
        width: 225.6px;
        height: 37px;
        border: 1px solid black;
        padding: .7rem .8rem;
        background-color: $cor-primaria-2;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        align-self: center;
    }

    .btn__pesquisa {
        border: 1px solid black;
        height: 37px;
        width: 88.42px;
        background-color: $cor-primaria-2;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        align-self: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    header {
        .cabecalho {
            flex-direction: row;
            height: 58px;
            justify-content: space-between;
            align-items: center;

            .cabecalho__top {
                .logo__nav {
                    content: url(../assets/Tablet/Logo\ tablet.png);
                }
            }

            .menu__btn {
                display: none;
            }

            .menu {
                display: block;
                padding-left: 1rem;
                align-self: center;

                ul {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;

                }

                li {
                    &:first-of-type {
                        display: none;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }

            }
        }

        .cabecalho__busca {
            padding: 1.3rem 1.4rem;
            background-color: transparent;
            justify-self: right;

            .barra__pesquisa {
                width: 145px;
                height: 38px;
            }

            .btn__pesquisa {
                border: 1px solid white;
                background-color: black;
                color: white;
                width: 67px;
                height: 38px;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                /* identical to box height, or 154% */

                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    header {
        .cabecalho {
            flex-direction: row;
            height: 58px;
            justify-content: space-between;
            align-items: center;

            .cabecalho__top {
                .logo__nav {
                    content: url(../assets/Desktop/Logo\ desktop.png);
                }
            }

            .menu__btn {
                display: none;
            }

            .menu {
                display: block;
                padding-left: 1rem;
                align-self: center;

                ul {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;

                }

                li {
                    &:first-of-type {
                        display: none;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 13px;
                        font-weight: 400;
                    }
                }

            }
        }

        .cabecalho__busca {
            padding: 1.3rem 1.4rem;
            background-color: transparent;
            justify-self: right;

            .barra__pesquisa {
                width: 145px;
                height: 38px;
            }

            .btn__pesquisa {
                border: 1px solid white;
                background-color: black;
                color: white;
                width: 67px;
                height: 38px;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                /* identical to box height, or 154% */

                text-align: center;
            }
        }
    }
}

