//Cores

$cor-primaria-1: #000000;
$cor-primaria-2: #CCCCCC;
$cor-primaria-3: #DAFF01;
$cor-primaria-4: #9353FF;

//Paleta complementar

$cor-complementar-1: #EE6471;
$cor-complementar-2: #F87F46;

//Fonte

$fonte-primaria: 'Inter', sans-serif;